/* Generics */
a{
  display: inline-block;
  margin-bottom: 10px;
}
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
img{
    max-width: 100%;
}

/* PRIMA DIVISIONE */
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper-top{
    height: calc( 100% - 80px);
    display: flex;
    flex-direction: row;
    background-color:#141922;
}
footer{
    background-color: #282828;
    height: 80px;
}
/* SECONDA DIVISIONE */
aside{
    flex-basis: 65px;
    flex-shrink: 0;
    height: 100%;
    background-color: #000;

}
#container-main{
    flex-grow:1;
    background-color:#141922 ;
}

main{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/****ASIDE****/
aside{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
#aside-button-top{
    width: 100%;
    padding-top: 5px;
    text-align: center;
}
.aside-button a img,
.aside-button a .logo{
    width: 45%;
}
/*playlist button display none in mobile*/
#playlist-button{
    display: none;
}

.aside-button a img{
    width: 45%;
}
.aside-button a{
    text-decoration: none;
    color:#797979;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-button a span,
.aside-button a h1,
#install-app,
#hr-rule-side{
    display: none;
}
/*aside button bottom */
#aside-button-bottom{
    display: flex;
    flex-direction: column;
}
#aside-button-bottom .img-profile {
    background-color:#808080;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#aside-button-bottom .download{
    width: 20px;
    height: 20px;
}


/****HEADER****/
header{
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 65px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

header .upgrade-button{
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 0.8em;
}
/****MAIN****/
/* navigator */

.navigator ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.navigator ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 30px 0;
}
li a{
    text-decoration: none;
    color:#7a7d81;
}
/* main content */
article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:20px -10px;
}
.card{
    flex-basis: 50%;
    text-align:center;
    color: #797979;
    margin-bottom: 30px;
    padding: 10px;
}
.card .card-img{
    margin-bottom: 10px;
}
.card .card-img img{
    width: 100%;
    overflow:hidden;
}
.card-text h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.card-text h5{
    font-size: 12px;
}
.card .card-img-circle{
    width: 100%;
    height: 230px;
    margin-bottom: 10px;
} 
.card .card-img-circle img{
    overflow: hidden;
    height: 100%;
    border-radius: 50%;
}
/****FOOTER****/
footer{
    display: flex;
    justify-content: space-between;
}
/*song-description*/
.song-description{
    height: 100%;
    width: 33%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}
.img-description{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.img-description img{
    width: 100%;
}
.text-description span{
    color: #797979;
    font-size: 0.8em;
}
.icon-description{
    display: flex;
    flex-direction: column;
    color: #797979;
    margin-left: 20px;
}
/* player */
#player{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
}
.player-button{
    font-size: 15px;
    padding-top: 10px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-play-circle{
    font-size: 30px;
}
.progress-bar{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    background-color:#797979;
    margin:0 5px;
    border-radius: 3px;
}
.progress-bar .bar{
    height: 4px;
    width: 140px;
}
.line-bar{ 
    overflow:hidden;
    background-color: white;
}
.progress-bar .bar .line-bar{
    height: 4px;
    width: 30px;
}
/* song options */
.song-options{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 33%;
    padding-left:10px;
}
.song-options .bar{
    height: 4px;
    width: 75px;
}
.song-options .line-bar{
    height: 4px;
    width: 30px;
}

/****RESPONSIVE****/
/* media min-width 576px */
@media  screen and (min-width: 576px) {
    /* aside */
    .aside-button a span,
    .aside-button a h1,
    #install-app{
    display: inline-block;
    }
    #hr-rule-side{
        display: block;
    }
    aside{
        flex-basis: 260px;
        align-items: flex-start;
        padding-left: 10px;
    }
    #aside-button-top{
        text-align:left;   
    }
    #aside-button-top a:first-child{
        margin-bottom: 20px;
    }
    .aside-button a{
        justify-content: flex-start;  
    }
    .aside-button a img{
        width: 12%;
    }
    .aside-button a .logo{
        width: 20%;    
    }
    #playlist-button{
        display: inline-block;
        margin-top: 20px;
    }
    #playlist-button a{ 
        margin-bottom: 25px;
    }
    #hr-rule-side{
        margin: 10px 0;
        width: 225px;
    }
    /* header */
    .upgrade-button{
        font-size: 0.6em;
    }
    /* main content  */
    .card .card-img-circle{
        width : 100%;
        height: auto;
    }
    .created-for-you span,
    .most-popular-artist span{
        margin: 20px 0;
        font-size: 12px;
    }
    } 

    /* media min-width 768px */
    @media screen and (min-width: 768px){
    /* main content  */
    .d-none{
        display: none;
    }
    .card{
        flex-basis: 25%;
    } 
    /* footer */
    .width-33{
        width: calc(100% / 3); 
    }
    .img-description{
        text-align: center;
        margin-right:0;
        height: auto;
    }
    .img-description .img-768-wdt{
        width: 70%;
    }
    .song-description{
        justify-content: space-around;
        padding: 0 5px;
    }
   
    .icon-description{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .player-button{
        justify-content: center;
    }
    .player-button .fas{
        margin: 0 20px;
    }
    }