*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearifix{
    display: table;
    content: '';
    clear: both;
}
/****TEXT ALIGN****/
.txt-align{
    text-align: center;
}
/****LINE HEIGHT****/
.l-height-13{
    line-height: 13px;
}
/****FONT COLOR****/
.f-color-wht{
    color: white;
}