*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearifix{
    display: table;
    content: '';
    clear: both;
}
/****TEXT ALIGN****/
.txt-align{
    text-align: center;
}
/****LINE HEIGHT****/
.l-height-13{
    line-height: 13px;
}
/****FONT SIZE****/
.f-size-10{
    font-size: 10px;
}
.f-size-12{
    font-size: 12px;
}
.f-size-14{
    font-size: 14px;
}
.f-size-15{
    font-size: 15px;
}
/****FONT COLOR****/
.f-color-wht{
    color: white;
}
.f-color-grey{
    color: #797979;
}
/**** DISPLAY ****/
.d-inl-bl{
    display: inline-block;
}
.d-bl{
    display: block;
}
.d-none{
    display: none;
}
/****MARGIN-BOTTOM****/
.marg-btm-10{
    margin-bottom: 10px;
}
/****PADDING****/
.padd-left-10{
    padding-left:10px;
}

/****SQUARE BACKGROUND****/
.square-bk{
    width: 45px;
    height: 45px;
    text-align:center;
    line-height: 45px;
    font-size: 25px;
    background-color: #797979;
    color: #000;
}